*~$*
.DS_Store
.idea/
*.icloud
0.Autres
1.Cahier-des-charges/assets/
2.Documentation/assets/
5.Projet/assets/
5.Projet/front-end-angular
5.Projet/docker/.env
5.Projet/docker/neo4j
7.Soutenance/assets/
