<body style="background-position: center;background-size: cover;background-image: url('assets/images/ocean.jpg')"
  class="flex flex-col w-screen h-screen overflow-hidden bg-blue-900">

  <header class="max-w-lg mx-auto mt-8 md:mt-16">
    <a href="#">
      <h1 class="text-4xl font-bold text-center text-white">LOGO</h1>
    </a>
  </header>

  <main class="flex-grow w-9/12 max-w-lg mx-auto">
    <div class="flex-grow p-8 mt-10 mb-5 bg-gray-100 rounded-lg shadow-2xl md:p-12">
      <section>
        <h3 class="text-3xl font-medium text-blue-900">Sign in to your account</h3>
      </section>
      <hr class="w-1/4 mt-3 border-t-2 border-blue-900" />
      <section class="mt-10">
        <form class="flex flex-col" method="POST" action="#">
          <div class="pt-3 mb-6 bg-gray-200 rounded">
            <label class="block ml-3 text-sm font-bold text-gray-700 md:mb-2" for="email">Email</label>
            <input type="email" id="email"
              class="w-full px-3 text-gray-700 transition duration-500 bg-gray-200 border-b-4 border-gray-300 rounded focus:outline-none focus:border-teal-600 md:pb-3" />
          </div>
          <div class="pt-3 mb-6 bg-gray-200 rounded">
            <label class="block ml-3 text-sm font-bold text-gray-700 md:mb-2" for="password">Password</label>
            <input type="password" id="password"
              class="w-full px-3 text-gray-700 transition duration-500 bg-gray-200 border-b-4 border-gray-300 rounded focus:outline-none focus:border-teal-600 md:pb-3" />
          </div>
          <button
            class="py-2 font-bold text-white transition duration-200 bg-teal-600 rounded shadow-lg hover:bg-teal-700 hover:shadow-xl focus:outline-none focus:ring"
            type="submit"
            (click)="onClickSignIn()">Sign In
          </button>
        </form>
      </section>
      <div class="hidden grid-cols-3 my-3 divide-x md:grid">
        <hr class="w-full my-6 border-gray-500 border-t-1" />
        <span class="my-3 text-sm text-center text-gray-600">Or continue with</span>
        <hr class="w-full my-6 border-gray-500 border-t-1" />
      </div>
      <section class="grid grid-cols-3 mt-8 divide-x md:mt-0">
        <a class="h-16 p-3 mr-4 text-center transition duration-200 bg-gray-200 rounded hover:bg-gray-300">
          <img class="w-auto h-full mx-auto cursor-pointer" src="assets/images/google_logo.svg" alt="Sign-in with Google" />
        </a>
        <a class="h-16 p-3 mx-2 text-center transition duration-200 bg-gray-200 rounded hover:bg-gray-300">
          <img class="w-auto h-full mx-auto cursor-pointer" src="assets/images/github_logo.svg" alt="Sign-in with GitHub" />
        </a>
        <a class="h-16 p-3 ml-4 text-center transition duration-200 bg-gray-200 rounded hover:bg-gray-300">
          <img class="w-auto h-full mx-auto cursor-pointer" src="assets/images/apple_logo.svg" alt="Sign-in with Apple" />
        </a>
      </section>
    </div>

    <div class="max-w-lg mx-auto mt-5 mb-6 text-center">
      <p class="text-white">
        <a class="font-bold hover:underline" [routerLink]="['/auth', path.auth.forgotPassword]">Forgot your password?</a> or
        <a class="font-bold hover:underline" [routerLink]="['/auth', path.auth.signUp]">Don't have an account?</a>
      </p>
    </div>
  </main>

  <footer class="max-w-lg mx-auto mb-8 md:my-3">
    <div class="text-sm font-bold text-white uppercase">
      <a href="#" class="hover:underline">Contact</a>
      <span class="mx-3">•</span>
      <a href="#" class="hover:underline">Privacy</a>
    </div>
    <span class="absolute bottom-0 right-0 max-w-lg mb-2 mr-4 text-xs italic text-gray-600">Photo by <a
        href="https://unsplash.com/@conorsexton?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Conor
        Sexton</a> on <a
        href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">unsplash.com</a></span>
  </footer>

</body>
